extends layout

block content
  .back(ng-controller="userCtrl")
    .title
      br
      p EMX
      button(ng-click="obtener_cercanos()", class="btncer")
    .info 
      h3 #{user}
      
      .esta(ng-show="cuadro")
        div ID:
        div(ng-bind="estac")


      #comentarios


    #map-canvas
